.sidebar{
    position: fixed;
    left: 15px;
    top: 93px;
    ul{
        list-style: none;
        padding: 4px;
        padding-left:15px;
        li a{
            color: @color-2;
        }
    }
    
}

.docs-wrapper
{
    padding-left: 170px; 
    h3{
        color:@color-2;
        border-bottom: 1px solid #ccc;
        margin: 24px 0px;
        padding:12px 0px;
    }
    article {
        ul{
            list-style-type: circle;
        }
    }
}




@media (max-width: @screen-xs-max) { 
    
}
