@color-1 : #191B28; // black
@color-2 : #004563; // blue
@color-3 : #98CC96; // ultra light green
@color-4 : #FFE9A3; // ultra yellow
@color-5 : #E83A25; // red


@brand-success:                  #59CC8C;
@btn-success-color:              #fff;
@btn-success-bg:                 #59CC8C;