// Colours partial

// Text colours
$txt-primary: rgb(0, 0, 0);
// body font
$txt-secondary: #102637;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #ACB1B4;
$form-placeholder: #BCC1C3;
// form placeholder text
// Global colours
$accent-color: #EB7F00;
// global accent colour
$accent-color-hover: #1695A3;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #102637;
$h3-color: #102637;
$h5-color: #102637;
// Layout colours
$section-light: #fff;
$section-dark: #F3F4F8;
$to-top-bg: #052742;
$footer-primary: #102637;
$footer-secondary: #082337;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;